.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    
}

.text {
    font-size: 14px;
}

.btn {
    height: 32px;
    font-size: 12px;
    background-color: #4f525b;
    color: #fff;
    border: none;
    border-radius: 6px;
}

.btn:hover {
    background-color: #fb9e9e;
    cursor: pointer;
}